/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

/* Lateral Navigation */
.nav {
    width: 200px;
    background-color: #333;
    color: #fff;
    min-height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    padding: 15px;
    border-bottom: 1px solid #444;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.nav ul li a:hover {
    background-color: #575757;
}

/* Mueve el botón de Perfil a la parte inferior */
.nav .profile-button {
    margin-top: auto;
}

/* Main Content */
.main-content {
    margin-left: 200px;
    padding: 20px;
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

header .logo img {
    height: 50px;
}

header .date-time {
    flex: 1;
    text-align: center;
}

header .welcome-message {
    text-align: right;
}

.cards {
    display: flex;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    min-width: 200px;
}

.card h2 {
    margin-top: 0;
}

.buttons {
    margin-left: 60px;
    margin-top: 60px;
}

.buttons button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 15px 20px;
    margin: 30px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.buttons button:hover {
    background-color: #0056b3;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #0056b3;
    color: white;
}

form {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
form .form-group {
    flex: 1;
    min-width: 200px;
}
form label {
    display: block;
    margin: 8px 0 4px;
}
form input, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
form button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 12px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    align-self: flex-start;
}
form button:hover {
    background-color: #0056b3;
}