body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px 20px;
    color: white;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
}

.navbar .button {
    color: white;
    background-color: #7F0000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.navbar .button:hover {
    background-color: #FF0000;
}

/* Encabezado */
.header2 {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #005187;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header2 h1 {
    position: absolute;
    color: white;
    font-size: 48px;
    text-align: center;
}

/* Cotización */
.cotizacion {
    background-color: #7F0000;
    color: white;
    text-align: center;
    padding: 20px;
}

.cotizacion h2 {
    margin: 0;
    padding: 10px 0;
    font-size: 24px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form-row {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.form-row input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
}

.submit-button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #FF0000;
}

/*Cards*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    gap: 20px;
}

.card {
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
    color: #FFF;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.card h2 {
    margin: 10px 0;
    font-size: 24px;
}

.card p {
    margin: 10px 0;
    font-size: 18px;
}

.card .tag {
    display: inline-block;
    background-color: #7F0000;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

/*Footer*/
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

/*Filtros*/
.filter-section {
    padding: 20px;
    text-align: center;
}

.filter-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.filter-container select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
    font-size: 16px;
    background-color: #554c4c;
    color: #FFF;
}